body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 100px;
    justify-content: center;

}

ul {
    list-style: none;
    margin: 0;
    align-items: center;
    display: flex;
}

li {
    float: left;
    margin-right: 30px
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

.container {
    width: 80%;
    margin: 100px auto;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #FAF9F6;
    border: 2px solid #000;
    background-color: gray;
}

td {
    border: 1px solid #000
}

th, td {
    padding: 10px;
    text-align: center;
}

.month {
    margin-bottom: 5px;
    font-weight: bold;
    color: grey;
}

  .slip-gaji {
    width: 80%;
    margin: 80px auto 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .header {
    text-align: center;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .content {
    margin-top: 20px;
  }
  
  .info p {
    margin: 5px 0;
  }
  
  .detail {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .footer {
    margin-top: 20px;
    text-align: center;
  }
  
  #downloadButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #downloadButton:hover {
    background-color: #45a049;
  }

  .downloadButton {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin: 10px auto 10px;
    width: 83%;
  }